mixin nav(href, text)
  span &nbsp;
  a(href=href)= '< '+text

//- add the 'no-nav' block to remove the nav entirely
block no-nav
  nav
    p
      a(href='../') < home
      //- add the 'nav' block to extend the default nav
      block nav