header
    nav.left
        a(href='/')
            pre.
                 __    __     __     __     __     __         _____
                /\ "-./  \   /\ \  _ \ \   /\ \   /\ \       /\  __-.
                \ \ \-./\ \  \ \ \/ ".\ \  \ \ \  \ \ \____  \ \ \/\ \
                 \ \_\ \ \_\  \ \__/".~\_\  \ \_\  \ \_____\  \ \____-
                  \/_/  \/_/   \/_/   \/_/   \/_/   \/_____/   \/____/
    nav.right
        a(href='/blog') posts
        a(href='/about') about
        a(href='//massesnz.com') music
        a(href='//github.com/tehmantra') code