doctype html
html
    include partials/head.pug

    body.aboutpage
        include partials/nav.pug

        main

            h1 THINGS I DO
            ul
                li 
                    a(href="https://github.com/tehmantra") PROGRAMMING
                li 
                    a(href="https://massesnz.com") MUSIC
                li 
                    a(href="#") PHOTOGRAPHY

            h1 PLACES I WORK
            ul
                li 
                    a(href="https://vocusgroup.co.nz") VOCUS GROUP NZ
                li 
                    a(href="https://shook.co.nz") SHOOK

            h1 ELSEWHERE
            ul
                li 
                    a(href="https://keybase.io/tehmantra") KEYBASE



