doctype html
html
  include partials/head.pug

  body
    include partials/nav.pug

    main
      block content
        != contents

    //- for highlight.js
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/xcode.min.css')