extends ./main.pug

block content

  article
    h1= title
    time= date.toLocaleString('en-NZ', {year: 'numeric', month: 'short', day: 'numeric'})
  
    != contents

  if comments
    script(src="https://utteranc.es/client.js" repo=utterances.repo issue-term=utterances.issueterm async)

