extends ./default.pug

block head
  link(rel='stylesheet' href='../css/main.css')

block content
  div.post
    header.post-header
      p.meta
        strong= date.toLocaleString('en-NZ', {year: 'numeric', month: 'short', day: 'numeric'}) + (author ? ' • ' + author : '')
      h1= title
  
    article.post-content
      != contents

  div.post-comments
    div#disqus_thread
