extends ./main.pug

block content

  div.home
    ul.posts
      each post in posts
        li
          div.post-date
            strong= (post.date ? post.date.toLocaleString('en-NZ', {year: 'numeric', month: 'short', day: 'numeric'}) : '')

          span
            h2(style='display: inline')
              a.post-link(href=post.path)= post.title


