@import './src/css/theme.less';

html {
  font-family: @monospace;
  background-color: @base00;
  font-size: 0.8em;
  color: @base05;
}

::selection {
  background: @base05;
  color: @base00;
}

a         { color: @base0D; text-decoration: none; }
a:visited { color: @base0E; }
a:hover   { color: @base04; text-decoration: underline; }

.main-content {
  margin: 0 20px;
  padding: 0 20px 20px 20px;
  max-width: 800px;
}

.heading-no-nav {
  padding: 50px 0 10px 0;
}

pre {
  font-family: @monospace;
}
pre.heading {
  color: @base0A;
  padding: 0 0 20px 0;
}


@media screen and (max-width: 800px) {
  .main-content {
    margin: 0;
    padding: 0;
  }
}
