@dark-gray: #333;
@light-gray: #fbfbfb;
@blue: #8494c1;
@dark-blue: #5b6786;
@purple: #ae84c1;


/** Base ------------------------------------------------------- */
html {
  font-family: Montserrat, sans-serif;
  background-color: @light-gray;
  font-size: small;
  color: @dark-gray;
}

a         { color: @blue; text-decoration: none; }
a:visited { color: @purple; }
a:hover   { color: @dark-blue; text-decoration: underline; }

/** Main ------------------------------------------------------- */
.main-content {
  margin: 0 20px;
  padding: 0 20px 20px 20px;
  max-width: 800px;
}

@media screen and (max-width: 800px) {
  .main-content {
    margin: 0;
    padding: 0;
  }
} 

/** Nav -------------------------------------------------------- */
nav {
  font-family: Consolas, monospace;
}
