// --- fonts
@font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@font-serif:  Georgia, 'Times New Roman', serif;
@font-monospace: Consolas, "Liberation Mono",  monospace;

// --- colors
@color-black: #333333;
@color-gray6: #404040;
@color-gray5: #737373;
@color-gray4: #828282;
@color-gray3: #dddddd;
@color-gray2: #e6e6e6;
@color-gray1: #fbfbfb;
@color-blue: #8494c1;
@color-purple: #ae84c1;
@color-darkblue: #5b6786;

// --- dimensions
@dim-max-width: 800px;
@dim-pad-width: 8px;

// --- header/nav
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  padding-bottom: 1.2em;
  font-family: @font-monospace;
  nav.left {
    font-size: 0.9em;
    font-weight: bold;
    a {
      color: @color-black;
      &:hover {
        text-decoration: none;
      }
    }
  }
  nav.right {
    align-self: flex-end;
    padding-bottom: 1.2em;
    a {
      padding-left: 1.2em;
    }
  }
}


// --- body/main/article
body {
  margin: 40px auto;
  padding: 0 @dim-pad-width;
  max-width: @dim-max-width;
  font-family: @font-sans;
  font-size: 1.1em;
  color: @color-gray6;
}

a { 
  color: @color-blue;
  text-decoration: none;
  transition: color .3s ease-in-out;
  &:visited {
    color: @color-purple;
  }
  &:hover {
    color: @color-darkblue;
    text-decoration: underline;
    .zomg;
  }
}

article > time {
  font-family: @font-monospace;
  font-size: small;
}
article a > img:hover {
  box-shadow: 0 0 10px @color-blue; // make images look clickable
}

::selection {
  background: @color-gray6;
  color: @color-gray2;
}

// --- tables
table {
  margin: 10px 0 15px 0;
  border-collapse: collapse;
  td, th { border: 1px solid @color-gray3; }
  td { padding: 3px 10px; }
  th { padding: 5px 10px; }
}
// --- quotes
blockquote {
  font-family: @font-serif;
  font-style: italic;
}
// --- lists
ul {
  list-style-type: square;

  &.post-list {
    li {
      padding-bottom: 3px;
    }
    a {
      font-size: 1.2em;
    }
  }
}


// --- mobile
@media screen and (max-width: @dim-max-width) {
  // make sure nothing can extend off the screen
  body * {
     max-width: calc(~'100vw' - (2 * @dim-pad-width));
  }

  // make tables scroll independent of the rest of the page
  table {
    display: block;
    overflow: scroll;
  }
}


// --- code
p > code {
  // slightly smaller than regular text
  font-size: 0.85em;
  color: #000;
  background: darken(@color-gray1, 3%);
  padding: 0.2em 0.4em;
  border-radius: 3px;
};
pre > code { 
  // even smaller than code in the body
  font-size: 0.75em; 
}
code {
  // set a consistent font
  font-family: @font-monospace;

  // this makes sure that we let the browser wrap text 
  // if the page width is small (ie. mobile)
  white-space: pre-wrap;
  word-wrap: break-word;

  &.hljs { 
    // most of this is controlled by hljs themes
    // but we want to override the border/padding
    border: 1px solid @color-gray3;
    padding: 12px;
  }
}


// --- zomg
// thanks meowni.ca
.zomg { animation: zomg 3s infinite; }
.zomgimg { animation: zomgimg 0.9s infinite; }
@keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16% { color: #0074D9; }
  32% { color: #2ECC40; }
  48% { color: #FFDC00; }
  64% { color: #B10DC9; }
  80% { color: #FF4136; }
}
@keyframes zomgimg {
  0%, 100% { filter: invert(0) saturate(100%) hue-rotate(0deg); }
  25% { filter: invert(10%) saturate(500%) hue-rotate(180deg); }
  50% { filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75% { filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}
