extends templates/default.pug

block no-nav

block body
	h1.heading-no-nav Michael Wildman

	- 
		var contents = {
			'./blog/': 'Blog',
			'./about/': 'About Me',
			'./webgl-tutorials/': 'WebGL Tutorials'
		};

	ul
		each text, link in contents
			li
				a(href=link)= text
