<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>mwild</title>

	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<style>
	
	</style>
</head>
<body>
	<div class="main-content main-content-no-nav">

		<h1>Michael Wildman</h1>	
		<ul>
			<li><a href="./blog/">Blog</a></li>
			<li><a href="./about/">About Me</a></li>
			<li><a href="./webgl-tutorials/">WebGL Tutorials</a></li>
		</ul>

	</div>
</body>
</html>